# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Envs
.venv/
.env

# OS/editor
.DS_Store
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Data/artifacts
data/
outputs/
